[Unit]
Description=Logstash

# Requirements
Requires=docker.service
Requires=fleet.service

# Dependency ordering and binding
After=docker.service
After=fleet.service

[Service]
TimeoutStartSec=0

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment
Environment="ES_CLUSTER=es01"

ExecStartPre=-/usr/bin/docker stop %p
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=/usr/bin/docker pull monsantoco/logstash

ExecStart=/usr/bin/docker run --rm --name %p -e KV_HOST=${COREOS_PRIVATE_IPV4} -e KV_TYPE=consul --publish 5000 --publish 5000/udp --publish 5002 --publish 5004 --publish 5100 --publish 5200 monsantoco/logstash

ExecStartPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/logstash/host/${COREOS_PRIVATE_IPV4} -XPUT -d value="%H"

ExecStop=-/usr/bin/docker stop %p
ExecStop=-/usr/bin/docker kill %p
ExecStop=-/usr/bin/docker rm %p

ExecStopPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/logstash/host/${COREOS_PRIVATE_IPV4} -XDELETE

[X-Fleet]
Conflicts=%p.service
